@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/terminus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@custom-variant dark (&:where(.dark, .dark *));

[disabled] {
	cursor: not-allowed;
}

@font-face {
	font-family: 'Kablammo';
	src: url('./assets/fonts/Kablammo-Regular-VariableFont_MORF.ttf');
}

@keyframes morph {
	50% {
		font-variation-settings: 'MORF' 60;
	}
}

.font-creature {
	font-family: 'Kablammo';
	font-variation-settings: 'MORF' 0;
	font-style: oblique 1deg;
	animation: morph 10s linear infinite;
}

.font-terrain {
	font-family: 'Kablammo';
}

.font-letter {
	scale: 0.75;
	font-weight: bold;
}
